.contents.template-preview .review_header_wrapper .left .go-back {
  vertical-align: baseline;
  padding-right: 0px;
  top: 3px;
  left: -5px;
}
.contents.template-preview .review_header_wrapper .left .go-back .glyphicon {
  font-size: 28px;
  top: 5px;
  color: #AAAAAA;
  cursor: pointer;
}
.contents.template-preview .review_header_wrapper .left .go-back .glyphicon:hover {
  color: #333333;
}
.contents.template-preview .review_header_wrapper .left .is-lead {
  vertical-align: baseline;
}
.contents.template-preview .review_header_wrapper .left .is-lead .glyphicon {
  font-size: 20px;
  padding-right: 0px;
  color: #009688;
}
.contents.template-preview .review_tabs_wrapper .right-side-buttons {
  margin-top: -20px;
  float: right;
}
.contents.template-preview .review_tabs_wrapper .right-side-buttons .enable-weights {
  display: inline-block;
  margin: 0px;
  font-size: 12px;
  margin-right: 5px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.contents.template-preview .review_tabs_wrapper .right-side-buttons .enable-weights input {
  top: -1px;
  left: -15px;
  margin-left: 0px;
}
.contents.template-preview .review_tabs_wrapper .right-side-buttons button {
  padding: 0px;
  margin-top: -6px;
  background-color: #7E57C2;
  color: white;
  font-size: 12px;
  padding: 5px 10px;
  outline: none;
}
.contents.template-preview .review_tabs_wrapper .right-side-buttons button.not-selected {
  background-color: #D1C4E9;
  color: #7E57C2;
}
.contents.template-preview .review_tabs_wrapper .right-side-buttons button:hover {
  color: #ffffff;
  background: #673AB7;
}
.contents.template-preview .review_tabs_wrapper .right-side-buttons button:active {
  color: #ffffff;
  background: #673AB7;
}
.contents.template-preview .review_tabs_wrapper .right-side-buttons button:focus {
  color: #ffffff;
  background: #673AB7;
}
