<!--
<div>
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class='container'>
        <a class="navbar-brand" href="#">MyApp</a>
        <ul class="nav navbar-nav">
            <li><a href="#/link1"> Link 1</a></li>
        </ul>
    </div>
    </nav>

    <div class="container">
        <div class="jumbotron">
            <h4> Skipper, shouldn't we tell them that page is "not found"? </h4>
            <div class="well">
                <img src="static/media/404.jpg" class="img-responsive img-thumbnail">
                <h4> Nah! Just smile and wave, boys. Smile and wave. </h4>
            </div>
        </div>
    </div>
</div>

-->

<br>
<br>
<br>
<head>
  <title>404. Not found - perform</title>
</head>
<div>
  <div class="container-fluid">
    <div class="jumbotron">
      <center>
        <h1>Uh oh!</h1>
        <h4>404. Not found. Are you sure you spelled the page right?</h4>
        <div class="autherror-buttons">
          <button class="btn btn-goback" ng-click="$state.go('landing.home')">Go home</button>
        </div>
      </center>
      <div class="well">
        <center>
          <img ng-src='static/media/404.jpg' class="img-responsive img-thumbnail">
        </center>
      </div>
      <center>
        <h4></h4>
      </center>
    </div>
  </div>
</div>
